:root {
  --primary-color: hsl(0, 0%, 95%);
  --secondary-color: hsl(0, 0%, 20%);
  --tertiary-color: hsl(0, 0%, 97%);
  --quaternary-color: hsl(194, 100%, 66%);
  --quinary-color: hsl(29, 100%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Roboto", sans-serif;
  background: var(--primary-color);
  color: var(--tertiary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--secondary-color);
  color: var(--primary-color);
  padding-left: 20rem;
}

main {
  display: grid;
  place-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--secondary-color);
  color: white;
  position: fixed;
  bottom: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

small {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

a {
  color: var(--quaternary-color);
  margin: 0.5rem 0;
}

a:hover {
  color: var(--quinary-color);
  text-decoration: none;
}

a:active {
  color: var(--quaternary-color);
  text-decoration: none;
}

label {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 1rem;
  width: 13rem;
}

input {
  padding: 0.5rem 1rem;
  border: black 1px solid;
  border-radius: 5px;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  margin: 0.25rem 0 1rem 0;
  font-size: 1rem;
  width: 13rem;
  height: 2.5em;
}

button {
  padding: 0.5rem 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  border: var(--quaternary-color) 1px solid;
  border-radius: 0.5rem;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  cursor: pointer;
  margin: 0.5rem;
  font-size: 1rem;
  width: 13rem;
  height: 2.5em;
  transition: all 0.1s ease;
}

button:disabled {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: default;
}

button:hover {
  background: var(--quaternary-color);
  color: var(--tertiary-color);
}

button:active {
  transform: scale(0.95);
  background: var(--quinary-color);
  color: var(--secondary-color);
}

#current-player-heading-container {
  display: none;
  place-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  background: var(--secondary-color);
  border-radius: 1rem;
}

#current-player-heading {
  display: none;
}

#game-form {
  display: grid;
  place-items: center;
  background: var(--secondary-color);
  padding: 2rem;
  color: white;
  border: var(--secondary-color) 1px solid;
  border-radius: 1rem;
}

#game-board {
  display: none;
  place-items: center;
  width: 100%;
  margin: 1rem 1rem;
  padding: 0.5rem;
  background: var(--secondary-color);
  border-radius: 1rem;
}

.column:hover {
  background: hsla(0, 0%, 95%, 50%);
  border-radius: 1rem;
}

.game-cell {
  width: 6rem;
  height: 6rem;
  border: 1px solid black;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: inset 0.25rem 0.25rem 0.5rem 1px hsla(0, 0%, 20%, 50%);
}

.game-cell:disabled {
  cursor: default;
}

.player1 {
  background: var(--quaternary-color);
}

.player2 {
  background: var(--quinary-color);
}
